<div class="container text-center">
  <h1 class="mt-4">Registrar Usuario</h1>
  <form #userForm="ngForm" (ngSubmit)="userAction(userForm)" class="mt-lg-5" (keydown)="preventFormSubmit($event)">
    <div class="mb-3">
      <input type="text"
             placeholder="UserName"
             class="form-control-sm"
             id="username"
             name="username"
             [(ngModel)]="user.username"
             required
             minlength="4"
             #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
        <div *ngIf="username.errors?.['required']">El nombre de usuario es obligatorio.</div>
        <div *ngIf="username.errors?.['minlength']">El nombre de usuario debe tener al menos 4 caracteres.</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="text"
             placeholder="Nombre"
             class="form-control-sm"
             id="firstname"
             name="firstname"
             [(ngModel)]="user.firstName"
             required
             #firstname="ngModel">
      <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
        <div *ngIf="firstname.errors?.['required']">El nombre es obligatorio.</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="text"
             placeholder="Apellidos"
             class="form-control-sm"
             id="lastname"
             name="lastname"
             [(ngModel)]="user.lastName"
             required
             #lastname="ngModel">
      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
        <div *ngIf="lastname.errors?.['required']">Los apellidos son obligatorios.</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="password"
             placeholder="Contraseña"
             class="form-control-sm"
             id="password"
             name="password"
             [(ngModel)]="user.password"
             required
             minlength="4"
             #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <div *ngIf="password.errors?.['required']">La contraseña es obligatoria.</div>
        <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 4 caracteres.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Registrar</button>
    <button type="button" class="btn btn-secondary ms-3" (click)="cancel()">Cancelar</button>
  </form>
</div>
