<div class="container">
  <button class="btn btn-outline-dark mt-lg-5" [routerLink]="'/facturaCreate'">Crear Factura</button>
  <div class="mt-lg-5">
    <button class="button btn btn-outline-dark" (click)="filtered()"><fa-icon [icon]="faFilter" class="col-6"></fa-icon></button>
    <input type="text" placeholder="nombre factura" class="ms-3 form-control-sm" [(ngModel)]="nombre">
    <button class="button ms-4 btn btn-outline-dark text-danger" (click)="limpiarFiltrado()">X</button>
  </div>
  <table class="table mt-lg-5">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre Factura</th>
      <th scope="col">Total Factura</th>
      <th scope="col">Total IVA Factura</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let factura of listaFacturas">
      <td>{{factura.nombre}}</td>
      <td>{{factura.total | currency: "EUR"}}</td>
      <td>{{factura.totalIva | currency: "EUR"}}</td>
      <td class="row acciones">
        <button [routerLink]="'/factura/' + factura.id" class="button btn btn-outline-dark"><fa-icon [icon]="faSquarePen" class="col-6"></fa-icon></button>
        <button *ngIf="this.role == 'ADMIN' || this.userId == factura.userId" (click)="deleteUser(factura.id)" class="button ms-4 btn btn-outline-dark"><fa-icon [icon]="faTrashCan" class="col-6 text-danger"></fa-icon></button>
        <button (click)="generateFactura(factura.id)" class="button ms-4 btn btn-outline-dark">Generar Factura</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container">
    <button *ngIf="page >= 1" (click)="anterior()" class="me-4 btn btn-outline-dark">Anterior</button>
    <button *ngIf="totalPages != 0 && page != totalPages - 1" (click)="siguiente()" class="btn btn-outline-dark">Siguiente</button>
  </div>
</div>
