<nav hidden="{{hidden}}" class="navbar navbar-light bg-light justify-content-between bg-dark text-light">
  <a class="navbar-brand text-light" *ngIf="!valid"> </a>
  <a class="navbar-brand ms-2 text-light toIni" *ngIf="valid" (click)="toInicio()">{{username}}</a>
  <div>
    <a class="btn btn-outline-light me-3" *ngIf="role == 'ADMIN'" [routerLink]="'/userManagement'">USER MANAGEMENT</a>
    <a class="btn btn-outline-light" *ngIf="role" [routerLink]="'/facturaManagement'">FACTURA MANAGEMENT</a>
  </div>
  <button *ngIf="valid" (click)="logOut()" class="btn btn-outline-light me-1">LOGOUT</button>
  <button *ngIf="!valid" (click)="logIn()" class="btn btn-outline-light me-1">LOGIN</button>
</nav>
